<!DOCTYPE html>

<html>

<head>
  <title>File Metadata</title>
  <!-- MAKE SURE YOU VISITED https://www.imgbb.com/ and https://www.flaticon.com/ -->
  <link rel="setting icon" href="https://i.ibb.co/G2S6ghb/setting-icon.png" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="../public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <h1>API Project: </h1>
    <h1>File Metadata Microservice</h1>
    <hr />
    <h3>Usage:</h3>
    <p>Microservice returns uploaded files</p>
    <p>metadata within the JSON response</p>
    <p>Please Upload a File(0.3Mb) ...</p>
    <hr />

    <div class="view">
      <h4 id="output"></h4>
      <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
        <input id="inputfield" type="file" name="upfile">
        <input id="button" type="submit" value="Upload">
      </form>
    </div>

    <div>
      <p class="footer">
        by <a href="https://github.com/will-s-205/fcc-boilerplate-project-filemetadata" target="_blank" rel="noreferrer"
          class="footer">William Step</a>
      </p>
    </div>
  </div>
</body>

</html>