/****** Main Styling ******/

/* FOR DEBUG */
/* * {
  outline: 1px solid red; 
} */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #222;
  background: radial-gradient(circle, rgba(213, 213, 213, 1) 37%, rgba(187, 187, 187, 1) 71%);
  /* to center app on page */
  height: 95vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 0;
  margin-top: 40px;
  width: 600px;
  border: 3mm solid rgba(53, 53, 53, 0.1);
  border-radius: 30px;
  background: rgb(196, 196, 196);
}

a {
  color: #2574A9;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;
}

input#button {
  width: 250px;
}

.view {
  position: relative;
  margin: auto;
  border: 3mm solid rgba(53, 53, 53, 0.1);
  border-radius: 30px;
  padding: 10px 30px 20px 30px;
  max-width: 250px;
}

hr {
  margin: 25px auto;
  height: 2px;
  width: 100px;
}

.footer {
  text-decoration: underline;
  font-size: medium;
  color: #2574A9;
}