/****** Main Styling ******/

body {
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #222;
  background: radial-gradient(circle, rgba(213,213,213,1) 37%, rgba(187,187,187,1) 71%);
  text-align: center;
}

.container {
  padding: 0;
  margin-top: 40px;
}

a {
  color: #2574A9;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;
}

input#button {
  width: 250px;
}

.view {
  position:relative;
  margin: auto;
  /* margin-top: 40px; */
	border: 3mm double rgba(53, 53, 53, 0.1);
  border-radius: 30px;
  padding: 15px;
  /* width: 60%; */
  max-width: 250px;
}

hr {
	margin: 25px auto;
	height: 2px;
	width: 100px;
}